body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.3s ease; /* Add transition for smooth animation */
    margin-left: 250px; /* Initially no margin */
    margin-top: 7%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p{
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea[name="feedback"] {
  font-family: inherit; /* Inherit font family from parent */
  resize: none; /* Disable resizing */
  overflow-y: auto; /* Enable vertical scrollbar when content overflows */
  max-height: 150px; /* Maximum height before scrollbar appears */
}


.button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}


/* Popup */

.popup-container {
    position: fixed; /* Set position to fixed */
    top: 50%; /* Align popup container to the center vertically */
    left: 50%; /* Align popup container to the center horizontally */
    transform: translate(-50%, -50%); /* Center the popup container */
    text-align: center; /* Center align text */
  }
  
  .popup {
    position: fixed; /* Set position to fixed */
    top: 50%; /* Align popup to the center vertically */
    left: 50%; /* Align popup to the center horizontally */
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: #fff; /* Set background color */
    padding: 20px; /* Add padding */
    border: 1px solid #ccc; /* Add border */
    border-radius: 8px; /* Add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    z-index: 9999; /* Set z-index */
  }
  
  .popup button {
    margin-top: 10px; /* Add top margin */
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }