/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

p{
    text-align: center;
}

/* Container styles */
.forgot-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.forgot-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Button styles */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

/* Back to login link styles */
.back-to-login {
    text-align: center;
    margin-top: 10px;
}

.back-to-login p{
    color: black;
}

.back-to-login a {
    color: #007bff;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}

/* Popup */

.popup-container {
    position: fixed; /* Set position to fixed */
    top: 50%; /* Align popup container to the center vertically */
    left: 50%; /* Align popup container to the center horizontally */
    transform: translate(-50%, -50%); /* Center the popup container */
    text-align: center; /* Center align text */
  }
  
  .popup {
    position: fixed; /* Set position to fixed */
    top: 50%; /* Align popup to the center vertically */
    left: 50%; /* Align popup to the center horizontally */
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: #fff; /* Set background color */
    padding: 20px; /* Add padding */
    border: 1px solid #ccc; /* Add border */
    border-radius: 8px; /* Add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    z-index: 9999; /* Set z-index */
  }
  
  .popup button {
    margin-top: 10px; /* Add top margin */
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }