/* Style for the button to show the product list */
#showProductListBtn {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 5px;
}

/* On hover, change background color and text color */
#showProductListBtn:hover {
  background-color: #0a5ab0a9;
  color: white;
}

/* On click, change background color */
#showProductListBtn:active {
  background-color: #0056b3;
}

/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 80%;
  overflow: scroll;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #showProductListBtn {
    width: 100%;
    margin: 10px 0;
  }

  .modal-content {
    width: 60%;
    margin: 10% auto;
  }
}

/* Styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;

}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}
